### OSX ###
.DS_Store

### Intellij ###

*.iml
.idea/

# Grunt intermediate storage (http://gruntjs.com/creating-plugins#storing-task-files)
.grunt

# Dependency directory
node_modules

### grunt ###
# Grunt usually compiles files inside this directory
dist/
build/

# Grunt usually preprocesses files such as coffeescript, compass... inside the .tmp directory
.tmp/

# firefox extensions
*.xpi

# Chrome extensions
*.crx

chrome_old/

bower_components
firefox/data/js/ext

firefox/data/css/style.css
firefox/data/css/style.css.map