body {
    padding: 5pt;
}

img, textarea {
    max-width: 100%;
}

input {
    width: 100%;
}

button, h2, textarea {
    margin-top: 5pt;
}

button.close {
    margin: 0;
    position: absolute;
    display: block;
}