body {
    overflow-x: hidden;
}

.main {
    text-align: center;
    margin: 0;
    padding: 0 5pt;
}

img {
    max-height: 150px;
    max-width: 100%;
}

textarea {
    resize: none;
}

input {
    width: 100%;
}

button, h2, textarea {
    margin-top: 5pt;
}

button.close {
    margin: 0;
    position: absolute;
    display: block;
}

.error-message {
    position: absolute;
    width: 100%;
    text-align: center;
    top: 0;
    height: 3em;
    line-height: 1.5em;
    background-color: #D9534F;
    color: #ffffff;
    overflow: hidden;
}