$active-tab-background: #002832;
$header-red: #E63E2E;
$image-background: darken(white, 20%);
@font-face {
  font-family: "Almoni DL AAA";
  src: url("fonts/almoni-dl-aaa/almoni-dl-aaa-regular.otf") format("opentype");
}

@font-face {
  font-family: "Almoni DL AAA";
  font-weight: bold;
  src: url("fonts/almoni-dl-aaa/almoni-dl-aaa-bold.otf") format("opentype");
}

@font-face {
  font-family: "Almoni DL AAA";
  font-weight: 900;
  src: url("fonts/almoni-dl-aaa/almoni-dl-aaa-black.otf") format("opentype");
}

@font-face {
  font-family: "Almoni DL AAA";
  font-weight: 100;
  src: url("fonts/almoni-dl-aaa/almoni-dl-aaa-light.otf") format("opentype");
}

.header {
  padding: 5px;
  background-color: $header-red;
  color: white;
  line-height: 30px;
  height: 40px;
  .close {
    color: white;
    opacity: 1;
  }
}

.menu {
  .menu-item {
    cursor: pointer;
    text-align: center;
    padding: 10px;
    margin-bottom: 10px;

    &.active {
      background-color: $active-tab-background;
      color: white;
      position: relative;

      &::after {
        $height: 10px;
        $width: 10px;
        content: '';
        position: absolute;
        left: 50%;
        margin-left: -$width;
        bottom: -$height;
        width: 0;
        height: 0;
        border-left: $height solid transparent;
        border-right: $height solid transparent;

        border-top: $width solid $active-tab-background;
      }
    }
  }
}

.social-btns {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  text-align: center;
  font-size: 20px;
  .fa {
    padding: 0 10px;
  }
}

.report-form {
  text-align: center;
  .capture-message {
    margin-top: 20px;
  }
  .screenshot {
    margin: 20px 0;
    background-color: $image-background;
    img {
      max-height: 150px;
      max-width: 100%;
    }
  }
  .comment {
    padding: 5px;
    textarea {
      min-height: 80px;
      min-width: 100%;
      max-width: 100%;
    }
  }

  .submit {
    $size: 100px;
    border: none;
    background: transparent url("../images/main-button.png") no-repeat;
    background-size: $size $size;
    width: $size;
    height: $size;
    color: #ffffff;
    margin: 10px;
  }

}
