@import "fonts";

$active-tab-background: #002832;
$header-red: #E63E2E;
$image-background: darken(white, 20%);

.header {
  padding: 5px;
  background-color: $header-red;
  color: white;
  line-height: 30px;
  height: 40px;
  .close {
    color: white;
    opacity: 1;
  }
}

.menu {
  .menu-item {
    cursor: pointer;
    text-align: center;
    padding: 10px;
    margin-bottom: 10px;
    .icon {
      height: 39px;
      width: 40px;
      background-repeat: no-repeat;
      margin: 0 auto;
      &.heroes {
        background: url("../images/hero.png");
      }

      &.report {
        background: url("../images/report.png");
      }

      &.myReports {
        background: url("../images/list.png");
      }
    }

    &.active {
      background-color: $active-tab-background;
      color: white;
      position: relative;

      .icon {
        &.heroes {
          background: url("../images/hero-selected.png");
        }

        &.report {
          background: url("../images/report-selected.png");
        }

        &.myReports {
          background: url("../images/list-selected.png");
        }
      }
      &::after {
        background: url("../images/arrow.png");
        content: '';
        width: 20px;
        height: 5px;
        position: absolute;
        left: 50%;
        margin-left: -10px;
        bottom: -5px;
      }
    }
  }
}

.social-btns {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  text-align: center;
  font-size: 20px;
  .fa {
    padding: 0 10px;
  }
}

.report-form {
  text-align: center;
  .capture-message {
    margin-top: 20px;
  }
  .screenshot {
    margin: 20px 0;
    background-color: $image-background;
    img {
      max-height: 150px;
      max-width: 100%;
    }
  }
  .comment {
    padding: 5px;
    textarea {
      min-height: 80px;
      min-width: 100%;
      max-width: 100%;
    }
  }

  .submit {
    $size: 100px;
    border: none;
    background: transparent url("../images/main-button.png") no-repeat;
    background-size: $size $size;
    width: $size;
    height: $size;
    color: #ffffff;
    margin: 10px;
  }

}
