<div class="report-form">
    <!--<div> {{test}}</div>-->
    <div class="capture-message">{{text.screenshotSuccess}}</div>

    <div class="screenshot">
        <img ng-src="{{screenshot}}" alt="Screenshot">
    </div>
    <form>
        <div class="comment">
            <textarea class="form-control" type="text" placeholder="{{text.commentPlaceholder}}"></textarea>
        </div>
        <input class="submit" type="submit" value="{{text.send}}">
    </form>
    <div class="social-btns">
        <i class="fa fa-home"></i>
        <i class="fa fa-youtube"></i>
        <i class="fa fa-google-plus"></i>
        <i class="fa fa-twitter"></i>
        <i class="fa fa-facebook"></i>
    </div>
</div>