@import "fonts";
@import "angular-csp";
@import "rtl";

$active-tab-background: #002832;
$header-red: #E63E2E;
$image-background: darken(white, 20%);
$reports-bg-color: #F2F2F2;
$tzar-font: "Almoni Tzar AAA", "Almoni DL AAA", serif;
$dl-font: "Almoni DL AAA", serif;

html, body {
  min-width: 320px;
  min-height: 600px;
  font-family: $dl-font;
  font-weight: normal;
  font-size: 14pt;
}

.header {
  font-family: $tzar-font;
  font-weight: 200;
  font-size: 20pt;
  padding: 5px;
  background-color: $header-red;
  color: white;
  line-height: 30px;
  height: 40px;
  .close {
    color: white;
    opacity: 1;
    font-weight: 100;
    font-size: 20pt;
  }
}

.menu {
  font-family: $tzar-font;
  font-weight: 200;
  .menu-item {
    $gradient-grey: darken(white, 20%);
    $gradient-size: 10%;
    cursor: pointer;
    text-align: center;
    padding: 10px;
    background: linear-gradient(to bottom, $gradient-grey 0%, #ffffff $gradient-size, #ffffff (100% - $gradient-size), $gradient-grey 100%);
    .icon {
      height: 39px;
      width: 40px;
      background-repeat: no-repeat;
      margin: 0 auto;
      &.heroes {
        background: url("../images/hero.png");
      }

      &.report {
        background: url("../images/report.png");
      }

      &.myReports {
        background: url("../images/list.png");
      }
    }

    &.active {
      background: $active-tab-background;
      color: white;
      position: relative;

      .icon {
        &.heroes {
          background: url("../images/hero-selected.png");
        }

        &.report {
          background: url("../images/report-selected.png");
        }

        &.myReports {
          background: url("../images/list-selected.png");
        }
      }
      &::after {
        background: url("../images/arrow.png");
        content: '';
        width: 20px;
        height: 5px;
        position: absolute;
        left: 50%;
        margin-left: -10px;
        bottom: -5px;
      }
    }
  }
}

.social-btns {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  text-align: center;
  font-size: 20px;
  .fa {
    color: $active-tab-background;
    padding: 0 10px;
  }
}

.my-reports {
  padding: 20px 5px;

  .reports-loading {
    text-align: center;
    .fa {
      color: $header-red
    }
  }
}

.report-items {
  background-color: $reports-bg-color;
}

.report-item {
  $time: 0.3s;
  position: relative;
  &, * {
    -webkit-transition: all $time ease;
    -moz-transition: all $time ease;
    transition: all $time ease;
  }
  border: 1px solid grey;
  border-radius: 5px;
  padding: 170px 0 20px;

  margin-bottom: 20px;
  background-color: #ffffff;
  .screenshot {
    position: absolute;
    background-color: $image-background;
    height: 150px;
    width: 100%;
    text-align: center;
    top: 20px;
    left: 0;
    body[dir="rtl"] & {
      right: 0;
      left: inherit;
    }

    img {
      height: 150px;
      max-width: 100%;
    }
  }
  table {
    width: 100%;
    tr td:first-child {
      padding: 5px 20px;
      text-align: end;
      width: 150px;
      vertical-align: top;
      font-weight: bold;
    }
  }
  .extra-message {
    padding: 0 20px;
  }

  &.closed {
    padding: 20px 0 20px 70px;
    body[dir="rtl"] & {
      padding: 20px 70px 20px 0;
    }
    .screenshot {
      height: 50px;
      width: 70px;
      margin: -25px 0 0;
      top: 50%;
      img {
        height: 50px;
      }
    }
    table tr td {
      line-height: 1.2em;
      &:first-child {
        padding: 0 10px;
        text-align: start;
        width: 120px;
        font-weight: bold;
      }
    }

  }

  .report-status {
    color: $header-red;
    font-weight: bold;

  }

}

.error-message {
  color: $header-red;
}

.coming-soon {
  text-align: center;
}

.report-form {
  text-align: center;
  padding-top: 10px;
  padding-right: 0;
  padding-left: 0;
  padding-bottom: 30px;

  .screenshot {
    margin: 20px 0;
    background-color: $image-background;
    height: 150px;

    img {
      height: 150px;
      max-width: 100%;
    }
  }
  .comment {
    padding: 5px;
    textarea {
      font-size: 14pt;
      min-height: 80px;
      max-height: 80px;
      min-width: 100%;
      max-width: 100%;
    }
  }

  .submit {
    $size: 90px;
    font-family: $tzar-font;
    font-weight: 100;
    font-size: 22pt;
    border: none;
    background: transparent url("../images/main-button.png") no-repeat;
    background-size: $size $size;
    width: $size;
    height: $size;
    color: #ffffff;
    margin: 10px;
  }

}
