<div class="report-form">
    <form ng-submit="sendReport()" ng-hide="response">
        <div ng-hide="error" class="capture-message">{{text.screenshotSuccess}}</div>
        <div ng-show="error" class="error-message">{{text[error]||error.message||error}}</div>
        <div class="screenshot">
            <img ng-src="{{reportData.screenCaptureBase64png}}" alt="Screenshot">
        </div>
        <div class="comment">
            <textarea class="form-control" type="text"
                      ng-model="reportData.comment"
                      placeholder="{{text.commentPlaceholder}}"></textarea>
        </div>
        <input ng-disabled="sendingReport" class="submit" type="submit"
               value="{{sendingReport?text.sending:text.send}}">
    </form>
    <div ng-show="response">{{response}}</div>
    <div class="social-btns">
        <i class="fa fa-home"></i>
        <i class="fa fa-youtube"></i>
        <i class="fa fa-google-plus"></i>
        <i class="fa fa-twitter"></i>
        <i class="fa fa-facebook"></i>
    </div>
</div>