<div class="report-form">
    <form ng-submit="sendReport()">
        <div class="capture-message">{{text.screenshotSuccess}}</div>
        <div class="screenshot">
            <img ng-show="reportData.screenCaptureBase64png"
                 ng-src="{{reportData.screenCaptureBase64png}}"
                 alt="Screenshot">

            <div ng-hide="reportData.screenCaptureBase64png" class="taking-screenshot">
                <i class="fa fa-camera fa-4x"></i>

                <p> {{text.takingScreenshot}} </p>
            </div>
        </div>
        <div class="comment">
            <textarea class="form-control" type="text"
                      ng-model="reportData.comment"
                      placeholder="{{text.commentPlaceholder}}"></textarea>
        </div>
        <input ng-disabled="sendingReport" class="submit" type="submit"
               value="{{sendingReport?text.sending:text.send}}">
    </form>
    <div class="social-btns">
        <a href="http://redbutton.org.il/" target="_blank"><i
                class="fa fa-home"></i></a>
        <a href="https://www.youtube.com/channel/UCJyjLGNAk0OBXnLtnWGumOg" target="_blank"><i
                class="fa fa-youtube"></i></a>
        <a href="https://plus.google.com/u/1/b/100070474767356918183/100070474767356918183" target="_blank"><i
                class="fa fa-google-plus"></i></a>
        <a href="https://twitter.com/" target="_blank"><i
                class="fa fa-twitter"></i></a>
        <a href="https://www.facebook.com/pages/The-Red-Button/432411806812404" target="_blank"><i
                class="fa fa-facebook"></i></a>
    </div>
</div>